# Secrets
.secrets/
.streamlit/secrets.toml

# Vagrant
.vagrant/

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Media files
*.mp4
*.mp3
*.wav
*.webm

# Output files
*.txt
*.srt
*.zip
!requirements.txt

# IDE
.idea/
.vscode/
*.swp

# Docker
*.log

